<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Islas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary">
        <ion-icon name="information"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="power"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="log-in"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item button *ngFor="let isla of (islas | async)" >{{isla.name}}</ion-item>
  </ion-list>
</ion-content>
