<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Islas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="userConnect()">
    <ion-fab-button color="secondary">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="usuarioAlert()">
        <ion-icon name="information"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="!userConnect()">
    <ion-fab-button color="secondary" (click)="goLoginPage()">
      <ion-icon name="log-in"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>
    <ion-row>
      <ion-col button *ngFor="let isla of (islas | async)" [routerLink]="['/home', isla.nombre]" size="6"><ion-card>
        <img src="{{isla.foto}}" style="height: 120px; width: 100%"/>
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{isla.nombre}}</ion-card-title>
        </ion-card-header>
      </ion-card></ion-col>
    </ion-row>
  </ion-list>
</ion-content>
